---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/broadcast?offset=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "count" : 3,
          "items" : [ {
            "id" : "30b3ebf1-ba36-4f5b-8def-6f70d9986fe9",
            "sessionId" : "SESSIONID",
            "projectId": 123456,
            "createdAt" : 1395183243000,
            "updatedAt": 1395183243000,
            "resolution": "640x480",
            "broadcastUrls": {
              "hls" : "http://tokbox.com.broadcast2.s3.amazonaws.com/123456%2F30b3ebf1-ba36-4f5b-8def-6f70d9986fe9.m3u8",
              "rtmp": {
                "foo": {
                  "serverUrl": "rtmps://myfooserver/myfooapp",
                  "streamName": "myfoostream4",
                  "status": "started"
                },
                "bar": {
                  "serverUrl": "rtmp://mybarserver/mybarapp",
                  "streamName": "mybarstream4",
                  "status": "live"
                }
              }
            },
            "status": "started",
            "streamMode" : "manual",
            "streams" : []
          }, {
            "id" : "b8f64de1-e218-4091-9544-4cbf369fc238",
            "sessionId" : "SESSIONID",
            "projectId": 123456,
            "createdAt" : 1394396753000,
            "updatedAt": 1394396753000,
            "resolution": "640x480",
            "broadcastUrls": {
              "hls" : "http://tokbox.com.broadcast2.s3.amazonaws.com/123456%2Fb8f64de1-e218-4091-9544-4cbf369fc238.m3u8",
              "rtmp": {
                "foo": {
                  "serverUrl":[...]
