---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/broadcast?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "count" : 2,
          "items" : [ {
            "id" : "ef546c5a-4fd7-4e59-ab3d-f1cfb4148d1d",
            "sessionId" : "SESSIONID",
            "projectId": 123456,
            "createdAt" : 1395187930000,
            "updatedAt": 1395187930000,
            "resolution": "640x480",
            "broadcastUrls": {
              "hls" : "http://tokbox.com.broadcast2.s3.amazonaws.com/123456%2F5350f06f-0166-402e-bc27-09ba54948512.m3u8",
              "rtmp": {
                "foo": {
                  "serverUrl": "rtmps://myfooserver/myfooapp",
                  "streamName": "myfoostream1",
                  "status": "started"
                },
                "bar": {
                  "serverUrl": "rtmp://mybarserver/mybarapp",
                  "streamName": "mybarstream1",
                  "status": "live"
                }
              }
            },
            "status": "started",
            "streamMode" : "manual",
            "streams" : []
          }, {
            "id" : "f6e7ee58-d6cf-4a59-896b-6d56b158ec71",
            "sessionId" : "SESSIONID",
            "projectId": 123456,
            "createdAt" : 1395187910000,
            "updatedAt": 1395187910000,
            "resolution": "640x480",
            "broadcastUrls": {
              "hls" : "http://tokbox.com.broadcast2.s3.amazonaws.com/123456%2F5350f06f-0166-402e-bc27-09ba54948512.m3u8",
              "rtmp": {
                "foo": {
                  "serverUrl": "rtmps://myfooserver/myfooapp",
                  "streamName": "myfoostream2",
                  "status": "started"
                },
                "bar": {
                  "serverUrl": "rtmp://mybarserver/mybarapp",
                  "streamName": "mybarstream2",
                  "status": "live"
                }
              }
            },
            "status": "started",
            "streamMode" : "manual",
            "streams" : []
          } ]
        }
  recorded_at: Fri, 21 Jan 2022 12:05:21 GMT
recorded_with: VCR 6.0.0
