---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/archive?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.Oh_JHhtEUKK1pPV4s6neXJj_RXI8EcEpJRRpG_2c9U0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "count" : 2,
          "items" : [ {
            "createdAt" : 1395187930000,
            "duration" : 22,
            "id" : "ef546c5a-4fd7-4e59-ab3d-f1cfb4148d1d",
            "name" : "",
            "partnerId" : 123456,
            "reason" : "",
            "sessionId" : "SESSIONID",
            "size" : 2909274,
            "status" : "available",
            "url" : "http://tokbox.com.archive2.s3.amazonaws.com/123456%2Fef546c5a-4fd7-4e59-ab3d-f1cfb4148d1d%2Farchive.mp4?Expires=1395188695&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          }, {
            "createdAt" : 1395187910000,
            "duration" : 14,
            "id" : "5350f06f-0166-402e-bc27-09ba54948512",
            "name" : "",
            "partnerId" : 123456,
            "reason" : "",
            "sessionId" : "SESSIONID",
            "size" : 1952651,
            "status" : "available",
            "url" : "http://tokbox.com.archive2.s3.amazonaws.com/123456%2F5350f06f-0166-402e-bc27-09ba54948512%2Farchive.mp4?Expires=1395188695&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          } ]
        }
  recorded_at: Wed, 19 Mar 2014 00:54:18 GMT
recorded_with: VCR 2.8.0
