---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/archive?count=4&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.Oh_JHhtEUKK1pPV4s6neXJj_RXI8EcEpJRRpG_2c9U0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "count" : 4,
          "items" : [ {
            "createdAt" : 1395187836000,
            "duration" : 62,
            "id" : "f6e7ee58-d6cf-4a59-896b-6d56b158ec71",
            "name" : "",
            "partnerId" : 123456,
            "reason" : "",
            "sessionId" : "SESSIONID",
            "size" : 8347554,
            "status" : "available",
            "url" : "http://tokbox.com.archive2.s3.amazonaws.com/123456%2Ff6e7ee58-d6cf-4a59-896b-6d56b158ec71%2Farchive.mp4?Expires=1395188695&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
          }, {
            "createdAt" : 1395183243000,
            "duration" : 544,
            "id" : "30b3ebf1-ba36-4f5b-8def-6f70d9986fe9",
            "name" : "",
            "partnerId" : 123456,
            "reason" : "",
            "sessionId" : "SESSIONID",
            "size" : 784997[...]
