---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/session/SESSIONID/connection?count=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "count" : 2,
          "projectId" : "123456",
          "sessionId" : "2_MX40NzIwMzJ-flR1ZSBPY3QgMjkgMTI6MTM6MjMgUERUIDIwMTN-MC45NDQ2MzE2NH4",
          "items" : [{
            "connectionId": "527775e1-626e-42c3-b0e8-e2122d20661a",
            "createdAt": 1747655658197,
            "connectionState": "Connected"
          },{
            "connectionId": "c6db93f0-8692-438c-944b-cfbaf577c878",
            "createdAt": 1747655658227,
            "connectionState": "Connected"
          }]
        }
  recorded_at: Tue, 19 May 2026 14:06:41 GMT
recorded_with: VCR 6.3.1
