---
http_interactions:
- request:
    method: get
    uri: http://api.opentok.com/v2/partner/459782/archive/cdd27670-f33a-40e8-b11d-388f58b525b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1386916737000,
          "duration" : 59,
          "id" : "cdd27670-f33a-40e8-b11d-388f58b525b1",
          "name" : "e1b4fcaa-bde6-4a98-9f85-89d13ac564e6",
          "partnerId" : 459782,
          "reason" : "",
          "sessionId" : "2_MX40NTk3ODJ-flRodSBEZWMgMTIgMjI6Mzg6MzUgUFNUIDIwMTN-MC45NDc0ODM5Nn4",
          "size" : 10848696,
          "status" : "deleted",
          "url" : null
        }
  recorded_at: Fri, 13 Dec 2013 06:48:53 GMT
- request:
    method: delete
    uri: http://api.opentok.com/v2/partner/459782/archive/cdd27670-f33a-40e8-b11d-388f58b525b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 13 Dec 2013 06:49:01 GMT
recorded_with: VCR 2.8.0
