---
http_interactions:
- request:
    method: post
    uri: https://staging.tokbox.com/hl/session/create
    body:
      encoding: US-ASCII
      string: partner_id=459782&location=127.0.0.1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Tb-Host:
      - stage301-sat.tokbox.com
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><sessions><Session><session_id>2_MX40NTk3ODJ-MTI3LjAuMC4xflRodSBBdWcgMTYgMDk6NDk6NTYgUERUIDIwMTJ-MC41MDk2NDYyfg</session_id><partner_id>459782</partner_id><create_dt>Thu
        Aug 16 09:49:56 PDT 2012</create_dt></Session></sessions>
  recorded_at: Thu, 16 Aug 2012 16:49:56 GMT
recorded_with: VCR 2.2.4
