---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/session/create
    body:
      encoding: US-ASCII
      string: partner_id=459782&location=localhost
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Tb-Partner-Auth:
      - 459782:b44c3baa32b6476d9d88e8194d0eb1c6b777f76b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<Sessions>\n  <Session>\n    <session_id>2_MX40NTk3ODJ-fjIwMTItMDktMDQgMjM6Mjc6MTIuNzY3ODY5KzAwOjAwfjAuNTQzNTEwNTE4NjQxfg</session_id>\n
        \   <partner_id>459782</partner_id>\n    <create_dt>2012-09-04 23:27:12.767869+00:00</create_dt>\n
        \   <session_status></session_status>\n    </Session>\n</Sessions>\n"
  recorded_at: Tue, 04 Sep 2012 23:27:24 GMT
recorded_with: VCR 2.2.4
