---
http_interactions:
- request:
    method: post
    uri: http://api.opentok.com/v2/partner/459782/archive
    body:
      encoding: UTF-8
      string: '{"action":"start","sessionId":"1_MX40NTk3ODJ-flRodSBEZWMgMTIgMjA6NTA6MTQgUFNUIDIwMTN-MC43OTYwMDQ5NX4","name":null}'
    headers:
      Content-Type:
      - application/json
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "message" : "A recording of the session is is already in progress."
        }'
  recorded_at: Fri, 13 Dec 2013 05:45:20 GMT
recorded_with: VCR 2.8.0
