---
http_interactions:
- request:
    method: get
    uri: http://api.opentok.com/v2/partner/459782/archive/cdd27670-f33a-40e8-b11d-388f58b525b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1386916737000,
          "duration" : 0,
          "id" : "cdd27670-f33a-40e8-b11d-388f58b525b1",
          "name" : "e1b4fcaa-bde6-4a98-9f85-89d13ac564e6",
          "partnerId" : 459782,
          "reason" : "",
          "sessionId" : "2_MX40NTk3ODJ-flRodSBEZWMgMTIgMjI6Mzg6MzUgUFNUIDIwMTN-MC45NDc0ODM5Nn4",
          "size" : 0,
          "status" : "started",
          "url" : null
        }
  recorded_at: Fri, 13 Dec 2013 06:39:56 GMT
- request:
    method: post
    uri: http://api.opentok.com/v2/partner/459782/archive/cdd27670-f33a-40e8-b11d-388f58b525b1
    body:
      encoding: UTF-8
      string: '{"action":"stop"}'
    headers:
      Content-Type:
      - application/json
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1386916737000,
          "duration" : 0,
          "id" : "cdd27670-f33a-40e8-b11d-388f58b525b1",
          "name" : "e1b4fcaa-bde6-4a98-9f85-89d13ac564e6",
          "partnerId" : 459782,
          "reason" : "",
          "sessionId" : "2_MX40NTk3ODJ-flRodSBEZWMgMTIgMjI6Mzg6MzUgUFNUIDIwMTN-MC45NDc0ODM5Nn4",
          "size" : 0,
          "status" : "stopped",
          "url" : null
        }
  recorded_at: Fri, 13 Dec 2013 06:39:57 GMT
recorded_with: VCR 2.8.0
