---
http_interactions:
- request:
    method: get
    uri: http://api.opentok.com/v2/partner/459782/archive/cc036f45-f479-48db-8c6c-ae9e4a508240
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1386915675000,
          "duration" : 7,
          "id" : "cc036f45-f479-48db-8c6c-ae9e4a508240",
          "name" : "49cd27ec-cc09-4ee8-a406-43d5c74d3976",
          "partnerId" : 459782,
          "reason" : "",
          "sessionId" : "1_MX40NTk3ODJ-flRodSBEZWMgMTIgMjA6NTA6MTQgUFNUIDIwMTN-MC43OTYwMDQ5NX4",
          "size" : 724699,
          "status" : "available",
          "url" : "http://tokbox.com.archive2.s3.amazonaws.com/459782%2Fcc036f45-f479-48db-8c6c-ae9e4a508240%2Farchive.mp4?Expires=1386918665&AWSAccessKeyId=AKIAI6LQCPIXYVWCQV6Q&Signature=%2BP2EB7NBm%2BJzaPBuKTSCT3QAyJQ%3D"
        }
  recorded_at: Fri, 13 Dec 2013 07:01:05 GMT
- request:
    method: post
    uri: http://api.opentok.com/v2/partner/459782/archive/cc036f45-f479-48db-8c6c-ae9e4a508240
    body:
      encoding: UTF-8
      string: '{"action":"stop"}'
    headers:
      Content-Type:
      - application/json
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "message" : "Conflict. You are trying to stop an archive that is
        not recording." }'
  recorded_at: Fri, 13 Dec 2013 07:01:06 GMT
recorded_with: VCR 2.8.0
