---
http_interactions:
- request:
    method: put
    uri: https://api.opentok.com/v2/project/123456/broadcast/13dbcc23-af92-4862-9184-74b21815a814/layout
    body:
      encoding: UTF-8
      string: '{"type":"verticalPresentation"}'
    headers:
      X-Opentok-Auth:
      - eyJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.LlBVnppHqBiUIl7t_ybzDmvDdv7z8udvN_P8_Oulj_4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":-1,"message":"Issuer not found","description":"Issuer not found"}'
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 2.8.0
