---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/broadcast
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","outputs":{"hls":{}}}'
    headers:
      X-Opentok-Auth:
      - eyJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.LlBVnppHqBiUIl7t_ybzDmvDdv7z8udvN_P8_Oulj_4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "id":"BROADCASTID",
        "sessionId":"SESSIONID",
        "projectId":123456,
        "createdAt":1538086900154,
        "broadcastUrls":
                {
                "hls":"https://cdn-broadcast001-pdx.tokbox.com/14787/14787_b930bf08-1c9f-4c55-ab04-7d192578c057.smil/playlist.m3u8"
                },
        "updatedAt":1538086900489,
        "status":"started",
        "maxDuration":7200,
        "resolution":"640x480",
        "partnerId":100,
        "event":"broadcast"
        }
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 2.8.0
