---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/broadcast
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","outputs":{"hls":{},"rtmp":[{"id":"rubyTestStream","serverUrl":"rtmp://x.rtmp.youtube.com/live2","streamName":"66c9-jwuh-pquf-9x18"}]}}'
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "id":"BROADCASTID",
        "sessionId":"SESSIONID",
        "projectId":123456,
        "createdAt":1538086900154,
        "broadcastUrls":
                {
                "hls":"https://cdn-broadcast001-pdx.tokbox.com/14787/14787_b930bf08-1c9f-4c55-ab04-7d192578c057.smil/playlist.m3u8",
                "rtmp":
                  [
                    {
                      "status":"connecting",
                      "id":"rubyTestStream",
                      "serverUrl":"rtmp://x.rtmp.youtube.com/live2",
                      "streamName":"66c9-jwuh-pquf-9x18"
                      }
                    ]
                },
        "updatedAt":1538086900489,
        "status":"started",
        "maxDuration":7200,
        "resolution":"640x480",
        "partnerId":100,
        "event":"broadcast"
        }
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 2.8.0
