---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/broadcast/13dbcc23-af92-4862-9184-74b21815a814/stop
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
          {
            "id":"13dbcc23-af92-4862-9184-74b21815a814",
            "sessionId":"SESSIONID",
            "projectId":123456,
            "createdAt":1538162113387,
            "broadcastUrls":null,
            "updatedAt":1538162113387,
            "status":"stopped",
            "maxDuration":7200,
            "resolution":"640x480",
            "event":"broadcast",
            "partnerId":123456
          }
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 2.8.0
