---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/session/SESSIONID/stream
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "count": 2,
          "items": [
            {
              "id": "1234356-0a06-46a2-8ea8-074e64d43422",
              "videoType": "camera",
              "name": "",
              "layoutClassList": ["full", "focus"]
            },
            {
              "id": "8b732909-0a06-46a2-8ea8-074e64d43422",
              "videoType": "screen",
               "name": "",
              "layoutClassList": ["full"]
            }
            ]
        }
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 2.8.0
