---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/session/create
    body:
      encoding: UTF-8
      string: location=12.34.56.78&p2p.preference=enabled
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Tb-Host:
      - oms506-nyc.tokbox.com
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><sessions><Session><session_id>1_MX4xMjM0NTZ-MTIuMzQuNTYuNzh-TW9uIE1hciAxNyAwMjowMDowNyBQRFQgMjAxNH4wLjIxMzUyNTY0ODkyNzMxNjA3fg</session_id><partner_id>123456</partner_id><create_dt>Mon
        Mar 17 02:00:07 PDT 2014</create_dt></Session></sessions>
  recorded_at: Mon, 17 Mar 2014 09:00:06 GMT
recorded_with: VCR 2.8.0
