---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/session/create
    body:
      encoding: UTF-8
      string: archiveMode=always&archiveName=foo&archiveResolution=720x1280&p2p.preference=disabled
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Tb-Host:
      - fms503-nyc.tokbox.com
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><sessions><Session><session_id>1_MX4xMjM0NTZ-fk1vbiBNYXIgMTcgMDA6NDE6MzEgUERUIDIwMTR-MC42ODM3ODk1MzQ0OTQyODA4fg</session_id><partner_id>123456</partner_id><create_dt>Mon
        Jun 12 16:17:36 GMT 2023</create_dt></Session></sessions>
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 6.0.0
