---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/session/create
    body:
      encoding: UTF-8
      string: archiveMode=always&p2p.preference=disabled
    headers:
      X-Opentok-Auth:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.Oh_JHhtEUKK1pPV4s6neXJj_RXI8EcEpJRRpG_2c9U0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Tb-Host:
      - oms504-nyc.tokbox.com
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><sessions><Session><session_id>1_MX4xMjM0NTZ-fk1vbiBNYXIgMTcgMDA6NDE6MzEgUERUIDIwMTR-MC42ODM3ODk1MzQ0OTQyODA4fg</session_id><partner_id>123456</partner_id><create_dt>Mon
        Mar 17 01:48:55 PDT 2014</create_dt></Session></sessions>
  recorded_at: Mon, 17 Mar 2014 08:48:54 GMT
recorded_with: VCR 2.8.0
