---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/connect
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","token":"TOKENID","websocket":{"uri":"ws://service.com/wsendpoint","streams":["123456"],"headers":{"foo":"bar"},"bidirectional":true}}'
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Opentok-Trace:
      - f=unknown&s=cerberus&u=3E467A7C-6130-469D-BD7B-10308CD0D395
    body:
      encoding: UTF-8
      string: '{"id":"2299ba24-a6de-417c-88f7-28da54a441cf","connectionId":"833a7182-61a5-49d4-baae-c324b09953af"}'
  recorded_at: Mon, 06 Oct 2025 09:42:20 GMT
recorded_with: VCR 6.3.1
