---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/session/SESSIONID/signal
    body:
      encoding: UTF-8
      string: '{"type":"chat","data":"Hello"}'
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><errorPayload><code>-1</code><message>Issuer
        not found</message><description>Issuer not found</description></errorPayload>
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 2.8.0
