---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/archive
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","quantizationParameter":40}'
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1395183243556,
          "duration" : 0,
          "id" : "30b3ebf1-ba36-4f5b-8def-6f70d9986fe9",
          "name" : "",
          "partnerId" : 123456,
          "reason" : "",
          "sessionId" : "SESSIONID",
          "size" : 0,
          "status" : "started",
          "url" : null,
          "quantizationParameter": 40
        }
  recorded_at: Mon, 06 Oct 2025 08:48:17 GMT
recorded_with: VCR 6.3.1
