---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/archive
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","outputMode":"composed","resolution":"1280x720"}'
    headers:
      X-Opentok-Auth:
      - eyJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.LlBVnppHqBiUIl7t_ybzDmvDdv7z8udvN_P8_Oulj_4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1395193762293,
          "duration" : 0,
          "id" : "d7f4d2a3-da74-414d-868a-190532a835bc",
          "name" : "ARCHIVE NAME",
          "partnerId" : 123456,
          "reason" : "",
          "sessionId" : "SESSIONID",
          "size" : 0,
          "status" : "started",
          "url" : null,
          "hasAudio" : true,
          "hasVideo" : false,
          "outputMode": "composed",
          "resolution": "1280x720"
        }
  recorded_at: Fri, 21 Sep 2018 16:54:25 GMT
recorded_with: VCR 2.8.0
