---
http_interactions:
- request:
    method: get
    uri: https://api.opentok.com/v2/project/123456/archive/f6e7ee58-d6cf-4a59-896b-6d56b158ec71
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Opentok-Auth:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.Oh_JHhtEUKK1pPV4s6neXJj_RXI8EcEpJRRpG_2c9U0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1395187836000,
          "duration" : 62,
          "id" : "f6e7ee58-d6cf-4a59-896b-6d56b158ec71",
          "name" : "",
          "partnerId" : 123456,
          "reason" : "",
          "sessionId" : "SESSIONID",
          "size" : 8347554,
          "status" : "expired",
          "url" : null
        }
  recorded_at: Wed, 19 Mar 2014 01:49:22 GMT
recorded_with: VCR 2.8.0
