---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/archive/30b3ebf1-ba36-4f5b-8def-6f70d9986fe9/stop
    headers:
      X-Opentok-Auth:
      - eyJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.LlBVnppHqBiUIl7t_ybzDmvDdv7z8udvN_P8_Oulj_4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1395183243000,
          "duration" : 0,
          "id" : "30b3ebf1-ba36-4f5b-8def-6f70d9986fe9",
          "name" : "",
          "partnerId" : 123456,
          "reason" : "",
          "sessionId" : "SESSIONID",
          "size" : 0,
          "status" : "stopped",
          "url" : null
        }
  recorded_at: Tue, 18 Mar 2014 23:03:07 GMT
recorded_with: VCR 2.8.0
