---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/archive
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","hasVideo":false}'
    headers:
      X-Opentok-Auth:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImlzdCI6InByb2plY3QifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.Oh_JHhtEUKK1pPV4s6neXJj_RXI8EcEpJRRpG_2c9U0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1395193762293,
          "duration" : 0,
          "id" : "d7f4d2a3-da74-414d-868a-190532a835bc",
          "name" : "ARCHIVE NAME",
          "partnerId" : 123456,
          "reason" : "",
          "sessionId" : "SESSIONID",
          "size" : 0,
          "status" : "started",
          "url" : null,
          "hasAudio" : true,
          "hasVideo" : false
        }
  recorded_at: Wed, 19 Mar 2014 01:49:22 GMT
recorded_with: VCR 2.8.0
