---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/partner/459782/archive
    body:
      encoding: UTF-8
      string: '{"sessionId":"2_MX40NTk3ODJ-flRodSBEZWMgMTIgMjA6MTk6MjUgUFNUIDIwMTN-MC44MjMzNDM4fg","name":null}'
    headers:
      Content-Type:
      - application/json
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "createdAt" : 1386909440093,
          "duration" : 0,
          "id" : "912dd613-8b3d-4683-a2c6-35f57254e624",
          "name" : null,
          "partnerId" : 459782,
          "reason" : "",
          "sessionId" : "2_MX40NTk3ODJ-flRodSBEZWMgMTIgMjA6MTk6MjUgUFNUIDIwMTN-MC44MjMzNDM4fg",
          "size" : 0,
          "status" : "started",
          "url" : null
        }
  recorded_at: Fri, 13 Dec 2013 04:37:20 GMT
recorded_with: VCR 2.8.0
