---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/session/create
    body:
      encoding: US-ASCII
      string: location=localhost
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Tb-Partner-Auth:
      - 459782:***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Tb-Host:
      - fms404-oak.tokbox.com
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><sessions><Session><session_id>1_MX40NTk3ODJ-flN1biBGZWIgMDkgMTU6NTg6MTEgUFNUIDIwMTR-MC40MTU0ODM5NX4</session_id><partner_id>459782</partner_id><create_dt>Sun
        Feb 09 15:58:11 PST 2014</create_dt></Session></sessions>
  recorded_at: Sun, 09 Feb 2014 23:58:11 GMT
recorded_with: VCR 2.8.0
