---
http_interactions:
- request:
    method: post
    uri: https://api.opentok.com/v2/project/123456/render
    body:
      encoding: UTF-8
      string: '{"sessionId":"SESSIONID","token":"TOKEN","url":"https://example.com/my-render"}'
    headers:
      X-Opentok-Auth:
      - eyJpc3QiOiJwcm9qZWN0IiwiYWxnIjoiSFMyNTYifQ.eyJpc3MiOiIxMjM0NTYiLCJpYXQiOjE0OTI1MTA2NjAsImV4cCI6MTQ5MjUxMDk2MH0.BplMVhJWx4ld7KLKXqEmow6MjNPPFw9W8IHCMfeb120
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "80abaf0d-25a3-4efc-968f-6268d620668d",
          "sessionId": "SESSIONID",
          "projectId": "e2343f23456g34709d2443a234",
          "createdAt": 1437676551000,
          "updatedAt": 1437676551000,
          "url": "https://example.com/my-render",
          "resolution": "1280x720",
          "status": "starting",
          "streamId": "e32445b743678c98230f238" 
        }
  recorded_at: Tue, 18 Apr 2017 10:17:40 GMT
recorded_with: VCR 6.0.0
